* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
  max-width: 640px;
  font-family: "Roboto", sans-serif;
  background-color: #1d1d1d;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#__next {
  width: 100%;
}