.game {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-inline: 32px;
}

@media (max-width:560px) {
  .game {
    padding-block: 30px;
  }
}